.price-card__price_green {
  background-color: #5bb189;
}
.item-green:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.order-btn-green {
  background-color: #5bb189;
}
