.price-card__price_orange {
  background-color: #ec632a;
}
.item-orange:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}
.order-btn-orange {
  background-color: #ec632a;
}
